body {
        background-color: #0A0E27;
        padding: 0%;
        box-sizing: border-box;
        margin: 0%; 
}

header {
    background-color: #1c255f;
}

.header {
    color: white;
    display: flex;
    padding: 10px 20px;
    justify-content: flex-start; 
    align-items: center;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0; 
    padding: 0;
    text-align: left;
}

.header ul li {
    text-align: left;
    margin-left: 80px; 
}

.header ul li a {
    color: white;
    text-decoration: none;
}

.header p {
 
    margin-right: 500px;
    margin-top: 12px;
}

header p {
    color: rgb(107, 107, 238);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fullname {
    color:rgb(107, 107, 238);
    font-size: 100px;
    padding: 20px 100px;
    font-family:'Poppins';
    margin-bottom: 10px;
}

.fullname span {
    padding: 0px 130px;
}


.intro {
    color: white;
    margin-top: 0;
    padding: 0px 200px;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}
button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius : 5px;
    margin-top: 10px; 
    margin-left: 288px;
  }



/* 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #101030;
    color: white;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202040;
    padding: 50px 20px;
}

.header-content h1 {
    font-size: 50px;
    color: white;
}

.header-content h1 span {
    color: #00bcd4;
}

.header-content .title {
    font-size: 20px;
    margin: 10px 0;
}

.btn {
    background-color: #00bcd4;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.profile-img img {
    border-radius: 50%;
    width: 150px;
}


.skills {
    background-color: #303050;
    padding: 50px 0;
}

.skill-box {
    text-align: center;
    padding: 20px;
}

.skill-box h3 {
    color: white;
    margin-bottom: 10px;
}

.skill-box p {
    color: #aaa;
}

.about {
    padding: 50px 0;
    background-color: #202040;
}

.about h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-image img {
    width: 300px;
    border-radius: 10px;
    padding: 100px 50px 90px;
}

.about-text {
    color: white;
}

.about-text ul {
    list-style-type: none;
    margin-top: 20px;
}

.about-text ul li {
    margin: 10px 0;
}


.stats {
    background-color: #303050;
    padding: 50px 0;
    text-align: center;
}

.stat-box {
    display: inline-block;
    margin: 20px;
}

.stat-box h3 {
    font-size: 40px;
    color: #00bcd4;
}

.stat-box p {
    color: white;
} */
